
@import url(https://fonts.googleapis.com/css?family=Allerta+Stencil);
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  background: url(https://stmed.net/sites/default/files/titanfall-2-hd-wallpapers-33821-4272788.jpg) no-repeat center center fixed;
  text-align: center;
}

.container {
  background-color: transparent;
}

a {
  color: blue;
  text-decoration: none;
  font-size: 14px;
}
a:hover {
      color: lighten(blue, 10%);
      text-decoration: none;
      transition: color 1s;
    }
.hangman {
    font-family: 'Allerta Stencil', sans-serif;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
 }

 /* Title */
h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: orange;
  font-weight: 300;
}

p {
  margin-bottom: 20px;
  color: gray;
  line-height: 1.3;
  
}


.letter {
  display: inline-block;
  color: transparent;
  border-bottom: 5px solid blue;
  margin: 0 10px;
  font-size: 50px;
  padding: 10px;
  transition: .5s;
  text-transform: uppercase;
  
  
}
.word {
  display: block;
  white-space: nowrap;
}

.correct {
  color: blue;
  text-shadow: 1px 2px 0 blue;
}

/* Guess Button */
.guessForm {
  margin: 20px auto 0;
  outline: none;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 5px;
    border: 1px solid #aaa;
    color: gray;
  }
  
  .guessButton {
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    background: blue;
    color: white;
    transition: .3s;
    margin: 10px 0;
    text-shadow: 1px 2px 0 blue;
  }

  .guessButton a:hover {
      background: blue; 
      text-decoration: none;
      transition: color 1s;
  }
}

.wrongLetters {
  font-size: 20px;
}
p {
  margin-bottom: 10px;
}
li {
      display: inline-block;
      font-size: 40px;
      background:lighten(red,15%);
      text-shadow: 1px 2px 0 red;
      padding: 10px;
      color: white;
      text-transform: uppercase;
      margin-right: 10px;
}

.message {
  display: none;
  padding: 20px;
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
/*   height: 100%; */
  background: blue;
  z-index: 12402402;
}
  h1 {
    display: none;
    text-decoration: white;
    text-shadow: 1px 2px 0 #ccc;
  }
  
  .highlight {
    color: yellow;
    text-transform: capitalize;
  }
  
  .text {
    color: white;
    font-size: 30px;
    display: none;
  }
p {
  color: white;
}
.highlight {
  font-size: 40px;
}
  .muted {
    margin: 20px auto;
    color: lighten(blue, 10%);
  }


.button {
    display: none;
    margin: 10px 0;
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    background: lighten(green, 5%);
    transition: .3s;
    text-shadow: 1px 2px 0 green;
    font-family: 'Allerta Stencil', sans-serif;
}

.button a:hover {
    background: lightgreen;
    text-decoration: none;
    transition: color 1s;
}